/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/********* Stylesheet Reset ***************
*******************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********* Page Styles ***************
*******************************************/

body{
	font-family: 'Roboto', sans-serif;
}

/*div {
    border: 1px solid Chocolate;
}*/

/* Navigation Section */
.top-navigation{
	background-color:  #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation > .content{
	height: 70px;
}

.content{
	padding: 0px 15px;
	margin: 0 auto;
	width: 970px;
}

.logo{
	height: 70px;
}


.top-navigation .links{
	margin-top: 2em;
	float: right;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li{
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover{
	color: #333333;
	cursor: pointer;
}

/* Intro Section */

section.introduction{
	background-image: url(../images/first-background-karma.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif; 
	height: 45.938rem;
	overflow: auto;
}

.introduction .content h1{
	color: #ffffff;
	margin-top: 17.5rem;
	font-size: 3.125rem;
	font-weight: 300;
	text-align: center;
}

.introduction .content h3{
	color: #ffffff;
	font-size: 1.563rem;
	margin-top: 1.25rem;
	text-align: center;
}

button{
	width: 9.688rem;
	background-color: #f15a29;
	border-color: ##f15a29;
	text-shadow: none;
	border-style: none;
	border-radius:4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
}

button:hover{
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}

.introduction .big-button{
	text-align: center;
	margin-top: 1.563rem;
}

/* Cases Section */

.cases{
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif; 
	overflow: hidden;
	padding-bottom: 5rem;
}

.cases .content{
	padding-top: 7.875rem;
	text-align: center;
}

.cases h2{
	font-size: 2.75rem;
	margin: 1.625rem 3.125rem;
	font-weight: 300;
}

.cases .devices h3{
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
}

.cases .devices > li{
	display: inline-block;
	width: 30%;
	box-sizing: border-box;
	height: 4em;
}

.cases .devices h3{
	margin: 2.5rem 0px 1.875rem;
}


/* Footer Section */

.social{
	background-color: #ffffff;
	overflow: auto;
	padding-bottom: 9.375rem;
}

.social .content{
	text-align: center;
}

.social hr{
	border-top: 1px solid #eaebec;
	margin: 2em 0;
}

.social .icons > li{
	border:1px solid #eaebec;
	border-radius: 2em;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	padding: .625rem 0;
}

.social .twitter{
	color: #55acee;
}

.social .facebook{
	color: #4c66a4;
}

.social .instagram{
	color: #3f729b;
}

.social .copy {
	color: #838994;
	font-size: 1em;
}


